<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Artículos Científicos</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1>Artículos Científicos</h1>

{% for a in articulos %}
<div class="card">
    <h3>{{ a.titulo }}</h3>
    <p><strong>{{ a.revista }}</strong></p>
    <p>{{ a.anio }}</p>
    <p>{{ a.contributors }}</p>
    <a href="{{ a.doi }}" target="_blank">Ver artículo</a>
</div>
{% endfor %}

<a href="/">Volver al inicio</a>

</body>
</html>